.card {
  padding: 2rem;
  max-height: 300px;
  overflow-y: scroll;
}

.ngoname {
  font-size: 24px;
  font-weight: bold;
}

.description {
  /* width: 50%; */
  font-size: 14px;
  margin-top: 10px;
}

.contact-info {
  margin-top: 20px;
  display: flex;
}

.address,
.phonenumber {
  font-size: 15px;
  margin-left: 5px;
}

.my-grid{
  min-height: 600px;
  overflow-y: scroll;
}