.chatbot .chat-container {
  display: flex;
  flex-direction: column;
  height: 100%;
  height: 400px;
  z-index: 10;
}

.chatbot .message-list {
  flex-grow: 1;
  overflow-y: auto;
  padding: 10px;
}

.chatbot .user-message {
  background-color: #c6c6c678;
  border-radius: 10px;
  padding: 10px;
  margin-bottom: 10px;
  width: fit-content;
  text-align: end;
  margin-left: auto;
}

.chatbot .bot-message {
  background-color: #7480ff71;
  border-radius: 10px;
  padding: 10px;
  margin-bottom: 10px;
  width: fit-content;
  text-align: start;
  margin-right: auto;
}

.chatbot .Heading {
  display: flex;
}

#send-btn {
  background-color: rgb(55, 112, 255);
  border-radius: 10px;
}
